@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container mt-4">
    <h2>Admin Dashboard</h2>

    <div class="row">

        <!-- Top Products -->
        <div class="col-md-6">
            <h4>Top Selling Products</h4>
            <ul class="list-group">
                @foreach (var item in ViewBag.TopProducts)
                {
                    <li class="list-group-item">
                        Product ID: @item.ProductId | Sold: @item.Count
                    </li>
                }
            </ul>
        </div>

        <!-- Pending Orders -->
        <div class="col-md-6">
            <h4>Pending Shipments</h4>
            <ul class="list-group">
                @foreach (var item in ViewBag.PendingOrders)
                {
                    <li class="list-group-item">
                        Order ID: @item.OrderId | Status: @item.Status
                    </li>
                }
            </ul>
        </div>

    </div>
</div>