@model LibraryManagement.Models.Library

<h2>Book Details</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>

    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>

    <tr>
        <th>Author</th>
        <td>@Model.Author</td>
    </tr>
</table>

<br>

<a asp-action="Index">Back to Book List</a>