@model CollegeManagement.Models.Student

<h2>Add Student</h2>

<form asp-action="Create">

    <label>ID</label>
    <input asp-for="ID" />

    <label>Name</label>
    <input asp-for="Name" />

    <label>10th Marks</label>
    <input asp-for="Marks10" />

    <label>12th Marks</label>
    <input asp-for="Marks12" />

    <label>Certificate Submitted</label>
    <input type="checkbox" asp-for="CertificateSubmitted" />

    <button type="submit">Save</button>

</form>